@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

body {
  background: #485563;
  background: -webkit-linear-gradient(to right, #29323c, #485563);
  background: linear-gradient(to right, #29323c, #485563);
}

.title {
  font-family: 'Potta One', cursive;
}
